
*.dll
*.user
*.obj
*.recipe
*.ilk
*.log
*.tlog
*.cache
*.deps
*.ifc
*.ttf
*.command
*.idb
*.pdb
*.iobj
*.ipdb
*.filters
*.vcxproj
*.json
x64/Debug/Color-Thing.vcxproj.FileListAbsolute.txt
x64/Release/Color-Thing.vcxproj.FileListAbsolute.txt
